<strong>Olá, {{ deliverer_name }}</strong>
<p style="margin: 0; padding: 0;">Você está recebendo uma notificação de cancelamento. 
  Confira os detalhes abaixo:
</p>

<br />

<strong>Produto</strong>
<p style="margin: 0; padding: 0;">{{ product_name }}</p>

<br />

<strong>Problema reportado</strong>
<p style="margin: 0; padding: 0;">{{ problem }}</p>

<br />

<strong>Destino: </strong>
<p style="margin: 0; padding: 0;">{{ recipient_name }}, {{ recipient_street }}, 
  Número: {{ recipient_number }}, 
  {{ recipient_city }} - {{ recipient_state }}
</p>
<p>O cancelamento se deve aos problemas reportados. Contamos com sua compreensão!</p>