<strong>Olá, {{ deliverer_name }}</strong>
<p style="margin: 0; padding: 0;">Você tem um novo pedido de entrega cadastrado. 
  Confira os detalhes abaixo:
</p>

<br />

<strong>Produto</strong>
<p style="margin: 0; padding: 0;">{{ product_name }}</p>

<br />

<strong>Destino: </strong>
<p style="margin: 0; padding: 0;">{{ recipient_name }}, {{ recipient_street }}, 
  Número: {{ recipient_number }}, 
  {{ recipient_city }} - {{ recipient_state }}
</p>
<p>O produto já se encontra disponível para retirada.</p>